node_modules/
public/
resources/
!content/en/docs/resources

# Link checker
bin/
tmp/
.idea

# File generated when running npm install
package-lock.json

# vim files
*.swp
tags

# File created when running hugo locally
.hugo_build.lock
