{{ $youtube := .youtube }}
{{ $youtube_url := print "https://www.youtube.com/watch?v=" $youtube }}
{{ $thumbnail := printf "https://i3.ytimg.com/vi/%s/0.jpg" $youtube }}

{{ if .url }}
{{ $thumbnail = "/img/logos/vitess-horizontal.png" }}
{{ end }}

{{ if .thumbnail_url }}
{{ $thumbnail = .thumbnail_url }}
{{ end }}

{{ $url := .url | default $youtube_url }}
{{ $title := .title | default "Unnamed Resource" }}

<div class="column col-lg-4 mb-3 mb-lg-0 text-center relative">
  <a href="{{ $url }}"><img class="img-fluid img-thumbnail" alt="{{ $title | markdownify }}" src="{{ $thumbnail }}"></a>
  <a href="{{ $url }}"><h4>{{ $title | markdownify }}</h4></a>
  <span class="tag1 tag">
    {{ .type }}
</span>
<label class="date">{{ .date }}</label>
</div>

<div>{{ partial "learning-resources/template-resource.html" . }}</div>
