$docs-sidebar-logo-width: 30%
$docs-sidebar-header-margin-bottom: 2rem
$tan: #f5993a
$code-link-color: #446ca9

html, body
  overflow: auto

=flex
  display: flex

=h-center
  justify-content: center

.docs-wrapper
  +flex
  flex-direction: row
  height: calc(100vh - #{$navbar-height})
  align-items: stretch

.docs-sidebar
  +flex
  +h-center
  background-color: $dark
  flex: 0 0 15%
  border-right: 1px solid lighten($dark, 10%)
  overflow: auto

.docs-menu
  width: 100%
  margin: 24px 0 24px 0

.docs-menu-header
  margin-bottom: $docs-sidebar-header-margin-bottom

.docs-menu-logo
    margin: 0 auto
    display: block

.docs-menu > .docs-navlist > li > a
  font-size: 1.2rem

.docs-navlist ul > li
  border-left: solid 1px rgba(255, 255, 255, 0.1)
  margin-left: 16px

.docs-navlist li
  position: relative

.docs-navlist li a
  color: $grey-lighter
  display: block
  font-size: 0.9rem
  padding: 8px 24px 8px 16px

  &:hover
    background: rgba(255, 255, 255, 0.05)

.docs-navlist li.active > a
  color: $tan

.navlist-caret
  height: 10px
  margin-top: -5px
  position: absolute
  right: 16px
  top: 22px
  fill: rgba(255, 255, 255, 0.25)

li.expanded > a > .navlist-caret
  transform: rotate(90deg)

.docs-article
  flex: 1 1 auto
  overflow: auto

  .docs-content
    margin: 2rem 2.5rem

    +touch
      margin: 1.5rem

    padding-bottom: 5rem

    .content
      +desktop
        width: 100%

      p a, li a
        font-weight: 700

      li .highlight, ol li
        margin-bottom: 1rem

      h1
        font-size: 1.802rem
      h2
        font-size: 1.602rem
      h3
        font-size: 1.424rem
      h4
        font-size: 1.266rem
      h5
        font-size: 1.125rem
      h2, h3, h4, h5, h6
        color: $vitess-orange

    .docs-header
      padding-bottom: 1rem
      margin-bottom: 2rem

    .card-content
      padding: 0 0 1.5rem 0

.docs-toc
  flex: 0 0 15%
  background-color: $white-bis
  overflow: auto
  border-left: 1px solid $grey-light

  &-container
    margin: 1rem

  &-title
    color: $dark
    font-size: 1.25rem

  &-menu
    margin: 1.5rem 0

    a
      color: $dark

      &:hover
        color: $primary

    #TableOfContents
      ul
        li
          font-size: 1rem
          line-height: 1.2rem

          & + li
            margin-top: .75rem

          ul
            margin: .5rem 0 0 1rem

            li
              font-size: 0.8rem

              & + li
                margin-top: .75rem
                line-height: 1.2rem



// used atm in vreplication commands reference
.cmd
  padding: 10px
  margin-left: 30px
  background-color: #f7f7f7
  margin-bottom: 10px

// used to display text in prev/next navigation buttons for articles
.limit-text
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.has-background
  background-color: #ff9d00
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E")
  background-attachment: fixed
  background-size: cover

.input
  border-radius: 10px

.navbar-end a
  color: #363636

.navbar-item img
  transform: scale(1.5)

.footer-text a
  color: white
  font-weight: bold
  text-decoration: underline

a code
  color: $code-link-color

.edit-this-page-small a
  font-size: 0.75rem
