{{- $isDocsPage := eq .Section "docs" }}
<!DOCTYPE html>
<html>
  <head>
    {{ partial "meta.html" . }}
    <title>
      {{ block "title" . }}{{ .Site.Title }} | {{ .Site.Params.description }}{{ end }}
    </title>
    {{ partial "css.html" . }}
  </head>
  <body class="page{{ if not $isDocsPage }} has-navbar-fixed-top{{ end }}">
    <main class="main">
      {{ block "main" . }}{{ end }}
    </main>

    {{- if not $isDocsPage }}
    {{ partial "footer.html" . }}
    {{- end }}
    {{ partial "javascript.html" . }}
  </body>
</html>
