{{- $date   := dateFormat "January 2, 2006" .Date }}
{{- $author := .Params.author }}
<a href="{{ .RelPermalink }}">
  <div class="card">
    <div class="card-content">
      <p class="title is-size-3 is-size-4-mobile">
        {{ .Title }}
      </p>

      {{- with $author }}
      <p class="subtitle is-size-5 is-size-6-mobile">
        {{ . }}
      </p>
      {{- end }}

      <p class="is-size-5 has-text-weight-light">
        {{ $date }}
      </p>

      {{- if .Summary }}
      <hr class="has-background-grey-light" />

      <div class="content">
        {{ .Summary }}
      </div>
      {{- end }}
    </div>
  </div>
</a>

<br />
