{{ $year       := now.Year }}
{{ $footerLogo := "img/logos/vitess-horizontal.png" | relURL }}
{{ $social     := site.Params.social }}
<footer class="footer has-background-black">
  <div class="container">
    <img class="is-footer-logo" src="{{ $footerLogo }}">

    <hr class="has-background-orange">

    <nav class="level">
      <div class="level-left">
        <a class="level-item has-text-orange is-size-4 is-size-5-mobile" href="{{ "/docs" | relLangURL }}">
          {{ T "docs" }}
        </a>

        <a class="level-item has-text-orange is-size-4 is-size-5-mobile" href="{{ "/blog" | relLangURL }}">
          {{ T "blog" }}
        </a>

        <a class="level-item has-text-orange is-size-4 is-size-5-mobile" href="{{ "/community" | relLangURL }}">
          {{ T "community" }}
        </a>
      </div>

      <div class="level-right">
        <div class="level-item">
          {{ partial "social-buttons.html" (dict "footer" true "social" $social) }}
        </div>
      </div>
    </nav>

    <br /><br />

    <div class="has-text-centered has-text-grey-light">
      <p class="is-size-5">
        &copy; Vitess Authors {{ $year }} | Documentation Distributed under <a href="https://creativecommons.org/licenses/by/4.0" target="_blank">CC-BY-4.0</a>
      </p>

      <br />
  
      <p>
        &copy; {{ $year }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage/" target="_blank">Trademark Usage</a> page.
      </p> 
    </div>
  </div>
</footer>
