{{ $jsFiles := site.Params.assets.js }} {{ range $jsFiles }} {{ $path := printf
"js/%s.js" . }} {{ $js := resources.Get $path | minify | fingerprint }}
<script
  src="{{ $js.RelPermalink }}"
  integrity="{{ $js.Data.Integrity }}"
></script>
{{ end }}

<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({
    flowchart: {
      curve: "linear",
    },
    startOnLoad: true,
  });
</script>

{{/* Lunr Search */}} {{ $versions := site.Params.versions }} {{ $latest :=
$versions.current}}
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script>
  window.addEventListener(
    "DOMContentLoaded",
    () => {
      "use strict";
      let index;
      let debounceTimer = null;
      const _debug = false;
      const debugLog = _debug ? console.log : () => { };
      const currentUrl = window.location.pathname;
      const currentLocation = String(currentUrl).split("/");
      const currentVersion = currentLocation[2];
      const loadingIcon = document.createElement("i");
      const spinnerContainer = document.createElement("p");
      const input = document.getElementById("search-bar");
      const target = document.querySelector(".is-search-result");
      const searchResultCount = document.querySelector(".results");
      const template = document.getElementById("is-search-template");
      const title = document.getElementById("search-results");
      const interval = 500;
      let searchPopover = document.querySelector(".search-popover");
      let query = input.value.trim();
      let parse = {};

      // set class name for icon
      loadingIcon.className = "fa fa-spinner fa-spin is-size-4";

      // set class name for spinner
      spinnerContainer.className = "has-text-centered";

      input.addEventListener(
        "input",
        function (event) {
          event.preventDefault();
          clearTimeout(debounceTimer);
          const keywords = input.value.trim();

          // clear search results title
          title.textContent = " ";

          // show loading state
          spinnerContainer.appendChild(loadingIcon);
          searchResultCount.appendChild(spinnerContainer);

          // automatically show search result when the input receives a value
          query = keywords;
          if (query.length >= 1) {
            searchPopover.style.display = "inline-block";
            searchPopover.style.right = `${0}px`;
            debounceTimer = setTimeout(initSearchIndex, interval);
          } else {
            searchPopover.style.display = "none";
          }

          while (target.firstChild) {
            searchResultCount.firstChild.nextSibling.textContent = " ";
            searchResultCount.firstChild.textContent = " ";

            target.removeChild(target.firstChild);
          }
        },
        false
      );

      async function initSearchIndex() {
        const searchResults = await fetch("/index.json", { method: "GET" })
          .then((response) => response.json())
          .then((data) => {
            return data;
          })
          .catch((err) => console.error("error:", err));
        index = lunr(function () {
          const documents = searchResults;

          this.ref("href");
          this.field("title", {
            boost: 20,
            usePipeline: true,
            wildcard: lunr.Query.wildcard.TRAILING,
            presence: lunr.Query.presence.REQUIRED,
          });
          this.field("content", {
            boost: 20,
            usePipeline: true,
            wildcard: lunr.Query.wildcard.TRAILING,
            presence: lunr.Query.presence.REQUIRED,
          });
          this.field("summary", {
            boost: 10,
          });
          // make search to query results depending on the version of the docs
          if (currentVersion) {
            documents.forEach(function (doc) {
              if (doc.version === currentVersion) {
                this.add(doc);
                parse[doc.href] = {
                  title: doc.title,
                  version: doc.version,
                  href: doc.href,
                  summary: doc.summary,
                  content: doc.content,
                  path: doc.path,
                };
              }
            }, this);
          } else {
            documents.forEach(function (doc) {
              if (doc.version === "{{ $latest }}") {
                this.add(doc);
                parse[doc.href] = {
                  title: doc.title,
                  version: doc.version,
                  href: doc.href,
                  summary: doc.summary,
                  content: doc.content,
                  path: doc.path,
                };
              }
            }, this);
          }
        });
        search(query);
        trackSearchEvent(query);
      }

      function search(keywords) {
        const results = index.search(keywords);
        const firstSearchResult = results[0];
        const currentVersion = parse[firstSearchResult?.ref]?.version;

        if ("content" in template) {
          // show result count
          const title = document.getElementById("search-results");
          const subTitle = document.createElement("h6");
          subTitle.id = "search-results";
          subTitle.className = "title is-5";

          if (results.length == 0) {
            title.textContent = `No results found for "${keywords}"`;
          } else if (results.length == 1) {
            title.textContent = `Found one result for "${keywords}"`;
            subTitle.textContent = `Showing results for v${currentVersion}`;
          } else if (results.length > 1 && keywords === "") {
            title.textContent = "Enter search keyword";
          } else {
            title.textContent = `Found ${results.length} results for "${keywords}"`;
            subTitle.textContent = `Showing results for v${currentVersion}`;
          }
          searchResultCount.replaceChildren(title, subTitle);

          // show the matched result
          results.forEach(function (result) {
            const doc = parse[result.ref];
            const searchResultItem = template.content.cloneNode(true)
              .querySelector('.search-result-item');

            const searchPath = searchResultItem.querySelector('a.search-path');
            searchPath.setAttribute('href', doc.href);
            searchPath.textContent = doc.path;

            const title = searchResultItem.querySelector('a.title');
            title.setAttribute('href', doc.href);
            title.textContent = doc.title;
            title.innerHTML = highlightSearchTerm(doc.title, keywords);

            const subtitle = searchResultItem.querySelector('a.subtitle');
            subtitle.setAttribute('href', doc.href);
            subtitle.textContent = doc.summary;
            subtitle.innerHTML = highlightSearchTerm(doc.summary, keywords);

            searchResultItem.addEventListener('click',
              () => trackSearchResultClick(doc.href, query));
            target.appendChild(searchResultItem);
          }, this);
        }
      }

      function highlightSearchTerm(content, searchTerm) {
        return content.replace(new RegExp(searchTerm, 'gi'), '<mark>$&</mark>');
      }

      const lunrSearchEventCategory = 'Lunr Search';

      function trackSearchEvent(searchTerm) {
      {{ if hugo.IsProduction -}}
        debugLog('trackSearchEvent: searchTerm = ' + searchTerm);
        if (typeof gtag !== 'function') return;
        gtag('event', 'search', {
          event_category: lunrSearchEventCategory,
          event_label: 'Search Input',
          search_term: searchTerm,
        });
      {{ end -}}
      }

      function trackSearchResultClick(searchResultURL, searchTerm) {
      {{ if hugo.IsProduction -}}
        debugLog(`trackSearchResultClick: searchTerm = ${searchTerm}, link = ${searchResultURL}`);
        if (typeof gtag !== 'function') return;
        gtag('event', 'click', {
          event_category: lunrSearchEventCategory,
          event_label: 'Search-result Click',
          search_term: searchTerm,
          link_url: searchResultURL,
          outbound: false,
        });
      {{ end -}}
      }

      // click outside the search modal to close
      document.addEventListener("click", () => {
        searchPopover.style.display = "none";
      });
    },
    false
  );
</script>

{{/* Dynamic positioning of the search popover using popperjs */}}
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script>
  const input = document.querySelector(".navbar-item-search");
  const searchPopover = document.querySelector(".search-popover");
  const isMobile = Math.max(window.screen.width, window.screen.height) < 1024;

  // Pass the input, the searchPopover, and some options, and Popper will do the
  // magic positioning for you:
  if (isMobile) {
    searchPopover.style.position = "absolute";
    searchPopover.style.top = "110px";
    searchPopover.style.left = "10px";
  } else {
    Popper.createPopper(input, searchPopover, {
      placement: "bottom-end",
      strategy: "fixed",
    });
  }
</script>
