{{ $isHome       := .IsHome }}
{{ $isDocs       := eq .Section "docs" }}
{{ $logoUrl      := "img/logos/vitess.png" | relURL }}
{{ $social       := site.Params.social }}
{{ $currentLang  := .Language.LanguageName }}
{{ $translations := site.Home.Translations }}

<nav class="navbar is-fixed-top is-dark">
  <div class="container {{if $isDocs}} navbar-container-docs {{end}}">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ site.BaseURL }}">
        <img src="{{ $logoUrl }}" alt="Vitess logo">
      </a>

      <a role="button" id="navbar-burger" class="navbar-burger burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
		{{ partial "search-bar.html" . }}
		
      <div class="navbar-end">
        <a class="navbar-item has-text-weight-bold" href="{{ "/docs" | relLangURL }}">
          {{ T "docs" }}
        </a>

        <a class="navbar-item has-text-weight-bold" href="{{ "/blog" | relLangURL }}">
          {{ T "blog" }}
        </a>

        <a class="navbar-item has-text-weight-bold" href="{{ "/community" | relLangURL }}">
          {{ T "community" }}
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link has-text-weight-bold">
            {{ $currentLang }}
          </a>

          <div class="navbar-dropdown">
            {{ range $translations }}
            {{ $lang := .Language.LanguageName }}
            {{ $url  := .RelPermalink }}
            <a class="navbar-item" href="{{ $url }}">
              {{ $lang }}
            </a>
            {{ end }}
          </div>
        </div>

        <div class="navbar-item">
          {{ partial "social-buttons.html" (dict "footer" false "social" $social) }}
        </div>
	  </div>
    </div>
  </div>
</nav>
