{{- $isHome  := .IsHome }}
{{- $isBlog  := eq .Section "blog" }}
{{- $nav     := .Site.Data.nav }}
{{- $logoUrl := "img/logos/vitess.png" | relURL }}
{{- $social  := .Site.Params.social }}
<nav class="navbar is-fixed-top is-dark">
  <div class="container">
    <div class="navbar-brand">
      {{- if not $isHome }}
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        <img src="{{ $logoUrl }}" alt="Vitess logo">
      </a>
      {{- end }}

      <a role="button" class="navbar-burger burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        {{- range $nav }}
        <a class="navbar-item has-text-weight-bold" href="{{ .link }}">
          {{ .text }}
        </a>
        {{- end }}

        <div class="navbar-item">
          {{ partial "social-buttons.html" (dict "footer" false "social" $social) }}
        </div>
      </div>
    </div>
  </div>
</nav>
