{{ $isHome       := .IsHome }}
{{ $isBlog       := eq .Section "blog" }}
{{ $nav          := site.Data.nav }}
{{ $logoUrl      := "img/logos/vitess.png" | relURL }}
{{ $social       := site.Params.social }}
{{ $docs         := where site.Pages "Section" "docs" }}
{{ $blogPosts    := where site.RegularPages "Section" "blog" }}
<nav class="navbar is-fixed-top is-dark">
  <div class="container">
    <div class="navbar-brand">
      {{ if not $isHome }}
      <a class="navbar-item" href="{{ site.BaseURL }}">
        <img src="{{ $logoUrl }}" alt="Vitess logo">
      </a>
      {{ end }}

      <a role="button" class="navbar-burger burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link has-text-weight-bold" href="/docs">
            Docs
          </a>

          <div class="navbar-dropdown">
            {{ range $docs }}
            {{ if .Params.featured }}
            <a class="navbar-item" href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
            {{ end }}
            {{ end }}
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link has-text-weight-bold" href="/blog">
            Blog
          </a>

          <div class="navbar-dropdown">
            {{ range first 5 $blogPosts }}
            <a class="navbar-item" href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
            {{ end }}

            <hr class="navbar-divider" />

            <a class="navbar-item has-text-weight-bold" href="/blog">
              More ...
            </a>
          </div>
        </div>

        <a class="navbar-item has-text-weight-bold" href="/community">
          Community
        </a>

        <div class="navbar-item">
          {{ partial "social-buttons.html" (dict "footer" false "social" $social) }}
        </div>
      </div>
    </div>
  </div>
</nav>
