<section class="section is-light mt-40">
<div class="changelog container">
  <div class="flex justify-content-space">
    <h2 class="title is-size-3 has-text-weight-bolder">Changelog</h2>
    <a href="/changelog/">view all changes</a>
  </div>
  <div class="flex flex-col--mobile flex-gap-md">
    {{- $changelogList := where .Site.RegularPages "Section" "changelog" -}} {{-
    range $index, $changelog := $changelogList | first 4 -}}
    <div class="flex-1">
      <a
        class="title is-3 is-size-4 has-text-weight-bolder text-underlined-on-hover"
        href="{{ .RelPermalink }}"
      >
        {{ $changelog.Title }}
      </a>
      <div class="has-text-weight-light">
        {{ $changelog.Date.Format "January 2, 2006" }}
      </div>
    </div>
    {{- end -}}
  </div>
</div>
</section>
