{{- $logoUrl := "img/logos/vitess.png" | relURL }}
{{- $title   := .Site.Params.home.title | markdownify }}
<section class="hero is-dark">
  <div class="container">
    <div class="hero-body has-text-centered">
      <img class="title is-home-hero-logo" src="{{ $logoUrl }}">

      <p class="title is-size-2 is-size-3-mobile has-text-weight-light">
        {{ $title }}
      </p>

      <br />

      <div class="buttons has-addons is-centered">
        <a class="button is-black is-medium has-text-weight-bold" href="/docs/getting-started/kubernetes">
          <span class="icon">
            <img src="/img/logos/kubernetes.svg">
          </span>
          <span>
            Kubernetes Quickstart
          </span>
        </a>

        <a class="button is-primary is-medium has-text-weight-bold" href="/docs/getting-started/local">
          <span class="icon has-text-black">
            <i class="fas fa-hammer"></i>
          </span>
          <span>
            Manual build
          </span>
        </a>

        <a class="button is-light is-medium has-text-weight-bold" href="/docs">
          <span class="icon has-text-primary">
            <i class="fas fa-university"></i>
          </span>
          <span>
            Documentation
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
