{{- $logoUrl := "img/logos/vitess.png" | relURL }}
{{- $title   := .Site.Params.home.title | markdownify }}
<section class="hero is-dark">
  <div class="container">
    <div class="hero-body has-text-centered">
      <img class="title is-home-hero-logo" src="{{ $logoUrl }}">

      <p class="title is-size-2 is-size-3-mobile has-text-weight-light">
        {{ $title }}
      </p>

      <br />

      <div class="buttons is-centered">
        <a class="button is-large is-logo-button has-text-weight-bold">
          <span class="icon">
            <img src="/img/logos/kubernetes.svg">
          </span>
          <span>
            Quickstart
          </span>
        </a>

        <a class="button is-large has-text-weight-bold">
          Manual build
        </a>

        <a class="button is-large has-text-weight-bold">
          Learn more
        </a>
      </div>
    </div>
  </div>
</section>
