{{- $userLogos := readDir "static/img/logos/users" }}
<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column has-text-centered">
        <p class="title is-size-2 is-size-3-mobile has-text-weight-light" id="who-uses">
          Who uses Vitess
        </p>

        <br />

        <a class="button is-primary" href="https://github.com/vitessio/website/#adding-a-user-logo" target="_blank">
          Add your logo
        </a>
      </div>

      <div class="column">
        <div class="is-user-logo-section">
          {{- range $userLogos }}
          {{- $imgUrl := printf "img/logos/users/%s" .Name }}
          <img class="is-user-logo" src="{{ $imgUrl }}">
          {{- end }}
        </div>
      </div>
    </div>
  </div>
</section>
