{{ $userLogos := readDir "static/img/logos/users" }}
<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-one-third">
        <p class="title is-spaced is-size-2 is-size-3-mobile has-text-dark has-text-weight-bold" id="who-uses">
          {{ T "who_uses" }}
        </p>

        <a class="button is-small is-primary has-text-weight-bold" href="https://github.com/vitessio/website/#adding-a-user-logo" target="_blank">
          {{ T "add_logo" }}
        </a>
      </div>

      <div class="column">
        <div class="is-user-logo-section">
          {{ range $userLogos }}
          {{ $imgUrl := printf "img/logos/users/%s" .Name | relURL }}
          <img class="is-user-logo" src="{{ $imgUrl }}">
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
