<section class="section is-light">
  <div class="container">
    <div class="columns is-variable is-8 is-vcentered">
      <div class="column">
        <p class="title is-size-2 is-size-3-mobile has-text-weight-light">
          {{ T "intro_vitess" }}
        </p>
      </div>

      <div class="column has-text-centered">
        <iframe src="https://www.youtube.com/embed/E6H4bgJ3Z6c?rel=0" allowfullscreen="" width="480" height="270" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</section>
