<section class="section is-light">
  <div class="container">
    <div class="columns is-variable is-6 is-vcentered">
      <div class="column">
        <p class="title is-size-2 is-size-3-mobile has-text-weight-light">
          {{ T "intro_vitess" }}
        </p>
      </div>

      <div class="column is-6">
        <iframe
          class="is-video"
          src="https://www.youtube.com/embed/E6H4bgJ3Z6c?rel=0"
          allowfullscreen=""
          style="position: relative; height: 315px; width: 560px;"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="columns is-flex-direction-row-reverse is-variable is-6 is-vcentered">
      <div class="column">
        <p class="title is-size-2 is-size-3-mobile has-text-weight-light">
          Scaling Databases with Vitess
        </p>
      </div>

      <div class="column is-6">
        <iframe
          class="is-video"
          src="https://www.youtube.com/embed/HgSlmzC7O-E?si=E75Ot4V-pZYSN6Wy"
          allowfullscreen=""
          style="position: relative; height: 315px; width: 560px;"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</section>
