<section class="section is-light">
  <div class="container has-text-centered">
    <div class="columns is-variable is-6 is-vcentered has-text-centered">
      <div class="column is-6">
        <p class="title is-size-2 is-size-3-mobile has-text-weight-light">
          {{ T "intro_vitess" }}
        </p>
        <iframe
          class="is-video"
          src="https://www.youtube.com/embed/6QWRHln3VO8?rel=0"
          allowfullscreen=""
          style="position: relative; height: 315px; width: 660px;"
          title="{{ T "intro_vitess" }}"
          frameborder="0"
        ></iframe>
      </div>
      <div class="column">
        <p class="title is-size-2 is-size-3-mobile has-text-weight-light">
          {{ T "scaling_vitess" }}
        </p>
        <iframe
          class="is-video"
          src="https://www.youtube.com/embed/2B0FB0A_c_Q?rel=0"
          allowfullscreen=""
          style="position: relative; height: 315px; width: 660px;"
          title="{{ T "scaling_vitess" }}"
          frameborder="0"
        ></iframe>
      </div>
    </div>
    <a class="button  is-primary has-text-weight-bold" href="/docs/learning-resources/">
      {{ T "learn_vitess" }}
    </a>
  </div>
</section>
